---
import SectionContainer from "@/components/SectionContainer.astro";
import UserIcon from "@/components/Icons/User.astro";
import SobreMi from "@/components/SobreMi.astro";
---

<SectionContainer id="sobre-mi" className="pt-16 pb-14 lg:pb-10">
  <h2
    class="flex gap-x-4 text-white text-xl lg:text-2xl font-semibold items-center mb-8"
  >
    <UserIcon class="size-7" />
    Sobre Mí
  </h2>
  <SobreMi />
</SectionContainer>
