---
import SectionContainer from "@/components/SectionContainer.astro";
import ContactIcon from "@/components/Icons/Mail.astro";
import Contacto from "@/components/Contacto.astro";
---

<SectionContainer id="contacto" className="pt-16 pb-14 lg:pb-10">
  <h2
    class="flex gap-x-4 text-white text-xl lg:text-2xl font-semibold items-center mb-8"
  >
    <ContactIcon class="size-7" />
    Contacto
  </h2>
  <Contacto />
</SectionContainer>
