---
import SectionContainer from "@/components/SectionContainer.astro";
import Badge from "@/components/Badge.astro";
import SocialPill from "@/components/SocialPill.astro";
import LinkedinIcon from "@/components/Icons/Social Media/Linkedin.astro";
import GithubIcon from "@/components/Icons/Social Media/Github.astro";
import MailIcon from "@/components/Icons/Social Media/Mail.astro";
---

<SectionContainer className="py-20 md:py-36 lg:py-44 pb-28 md:pb-44 lg:pb-48">
  <h1
    class="flex font-bold gap-4 text-lg md:text-2xl lg:text-3xl mb-5 text-white"
  >
    Hola, soy<strong class="text-blue-700">Ingeniero Informático</strong>
    <a href="#" download class="flex justify-center items-center">
      <Badge>Descargar CV</Badge>
    </a>
  </h1>

  <h2
    class="max-w-[700px] text-sm md:text-base lg:text-xl opacity-80 text-pretty text-white"
  >
    Busco una oportunidad laboral competente donde pueda aplicar y ampliar mis
    conocimientos técnicos, contribuyendo activamente al<strong
      class="text-blue-500"
    >
      desarrollo de software.</strong
    > Actualmente, me especializo en<strong class="text-blue-500">
      desarrollo web</strong
    >, con un enfoque en crear soluciones eficientes y de alto impacto.
  </h2>

  <nav class="flex flex-wrap gap-4 mt-8 animate-fade-in-down">
    <SocialPill
      href="https://www.linkedin.com/in/leonardo-rico/"
      className="hover:border-blue-500 hover:bg-blue-500 hover:bg-opacity-25 duration-300 ease"
    >
      <LinkedinIcon class="size-4 lg:size-6" />
      Linkedin
    </SocialPill>

    <SocialPill
      href="https://github.com/HardCoder05"
      className="hover:border-purple-500 hover:bg-purple-500 hover:bg-opacity-20 duration-300 ease"
    >
      <GithubIcon class="size-5 lg:size-6" />
      Github
    </SocialPill>

    <SocialPill
      href="mailto:rio88920@gmail.com"
      className="hover:border-red-500 hover:bg-red-500 hover:bg-opacity-25 duration-300 ease"
    >
      <MailIcon class="size-4 lg:size-6" />
      rio88920@gmail.com
    </SocialPill>
  </nav>
</SectionContainer>
