---
import SectionContainer from "@/components/SectionContainer.astro";
import CodeIcon from "@/components/Icons/Code.astro";
import Proyectos from "@/components/Proyectos.astro";
---

<SectionContainer id="proyectos" className="mb-16 lg:mb-24">
  <h2
    class="text-xl lg:text-3xl font-semibold mb-6 flex gap-x-5 items-center text-white"
  >
    <CodeIcon class="size-7" />
    Proyectos
  </h2>
  <Proyectos />
</SectionContainer>
