---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Intro from "@/components/Sections/Intro.astro";
import AboutMe from "@/components/Sections/AboutMe.astro";
import Projects from "@/components/Sections/Projects.astro";
import Contact from "@/components/Sections/Contact.astro";
---

<Layout
  title="Leonardo Rico - Portfolio"
  description="Desarrollor Front-end, con un enfoque en crear soluciones eficientes y de alto impacto."
>
  <main class="p-0 md:p-10 lg:p-0">
    <Container>
      <Intro />
      <Projects />
      <AboutMe />
      <Contact />
    </Container>
  </main>
</Layout>
