---
import { Astronav, MenuItems, MenuIcon, StickyHeader } from 'astro-navbar';
import Container from "./Container.astro";

const menuitems = [
  {
    title: "Inicio",
    url: "/#top",
  },
  {
    title: "Proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    url: "/#contacto",
  },
];
---

<StickyHeader
  class="sticky top-0 border-b z-20 transition-all"
  scrollY={50}
  defaultClass="py-5 border-transparent"
  activeClass="py-2 border-transparent backdrop-blur-lg"
>
  <Container>
    <header class="flex flex-col lg:flex-row justify-between items-center my-5">
      <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
          <a href="/" class="text-lg flex items-center justify-center">
            <img src="/logo.svg" class="w-8 h-8 pr-1" alt="Logo de LeoDev" />
            <span class="font-bold text-slate-400 text-xl">Leo</span><span
              class="text-slate-300 text-xl">Dev</span
            >
          </a>
          <div class="block lg:hidden">
            <MenuIcon class="w-8 h-8 text-blue-700" />
          </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-6 lg:flex lg:mt-0">
          <ul
            class="flex flex-col lg:flex-row lg:gap-3 text-sm md:text-lg lg:text-xl"
          >
            {
              menuitems.map((item) => (
                <li>
                  <a
                    href={item.url}
                    class="flex lg:px-3 py-2 font-medium items-center text-white hover:text-blue-700"
                  >
                    <span> {item.title}</span>
                  </a>
                </li>
              ))
            }
          </ul>
        </MenuItems>
      </Astronav>
    </header>
  </Container>
</StickyHeader>
