---
const personalImageAlt = "LeoDev";
---

<article
  class="flex items-center justify-center gap-8 lg:gap-24 text-white flex-col lg:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-yellow-100
      [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty"
  >
    <p class="text-sm lg:text-base">
      ¡Bienvenido a mi portafolio! Soy un <strong
        >estudiante de Informática</strong
      > apasionado por el desarrollo de software. Aunque estoy comenzando mi carrera,
      he adquirido sólidas habilidades en diversos lenguajes de programación y frameworks.
    </p>

    <p class="text-sm lg:text-base">
      Mi enfoque va más allá de escribir código; me esfuerzo por comprender <strong
        >las necesidades del usuario</strong
      > y crear soluciones que sean tanto efectivas como elegantes. Siempre busco
      impulsar la <strong>innovación</strong> y la <strong>eficiencia</strong> en
      cada proyecto en el que participo.
    </p>

    <p class="text-sm lg:text-base">
      Estoy motivado por la idea de <strong
        >contribuir en proyectos con equipos profesionales</strong
      >. Me encanta enfrentar nuevos retos y explorar ideas innovadoras. ¡No
      dudes en ponerte en contacto conmigo para explorar cómo podemos colaborar!
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/deltaprojektersac.webp"
    alt={personalImageAlt}
    class="rounded-full size-44"
    data-aos="fade-down"
    data-aos-duration="300"
    data-aos-once="true"
  />
</article>
